.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 23%;
}

.butaozinho {
    width: 230px;
    height: 50px;
    border-radius: 15px;
    border-color: aliceblue;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.butaozinho:hover {
    background-color: darkgray;
}